<div class="container vh-100">
  <h1>My Bookings</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Starts-At</th>
        <th scope="col">Ends-At</th>
        <th scope="col">Day(s)</th>
        <th scope="col">Rate (Rs)</th>
        <th scope="col">Cost (Rs)</th>
        <th colspan="2" scope="col">Actions</th>
      </tr>
    </thead>
      <tbody class = "link">
        <% column = 0 %>
        <% total = 0 %>
        <% @bookings.each do |booking| %>
          <% column += 1 %>
          <tr>
            <th scope="row"><%= column %></th>
            <td><%= booking.start_date %></td>
            <td><%= booking.end_date %></td>
            <% day = (booking.end_date - booking.start_date).to_i %>
            <td><%= day %></td>
            <td><%= booking.boat.price %></td>
            <% cost = day * booking.boat.price %>
            <% total += cost %>
            <td><%= cost %></td>
            <td><%= link_to "Edit", edit_booking_path(booking), class:"link" %></td>
            <td><%= link_to "Delete", booking_path(booking), class: "material-symbols-outlined link", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this booking"} %></td>
          </tr>
        <% end %>
        <tr>
          <th></th>
          <th ></th>
          <th ></th>
          <th></th>
          <th scope="col">Total</th>
          <th><%= total %></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
  </table>
  <a href="#" class = " btn btn-primary btn-lg float-end">Check Out</a>
</div>
